body {
    text-align: center;
    margin: 20% auto;
    background: #20290F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #20290F); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #20290F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+,Safari 7+ */
}

p {
    color: rgb(47, 181, 172);
    font-family: sans-serif;
    font-size: 120%;
}

h1 {
    color: rgb(47, 181, 172);
    font-family: sans-serif;
    font-size: 240%;
}

input[type=text] {
    width: 60%;
    padding: 22px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: rgb(47, 181, 172);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
